Repository googleads/publisher-ads-lighthouse-plugin, pull requests merged in 2019-07, with the labels that each got.

#100 Remove endTime column from tables for brevity (from most audits)
  lighthouse-plugin-publisher-ads/audits/ad-blocking-tasks.js
  lighthouse-plugin-publisher-ads/audits/ad-render-blocking-resources.js
  lighthouse-plugin-publisher-ads/audits/ad-request-critical-path.js
  lighthouse-plugin-publisher-ads/audits/idle-network-times.js
  lighthouse-plugin-publisher-ads/audits/serial-header-bidding.js
  lighthouse-plugin-publisher-ads/messages/en-US.json
Labels: report

#96 Allow undefined resource type in critical path audit
  lighthouse-plugin-publisher-ads/audits/ad-request-critical-path.js
Labels: audit

#95 Update a couple bidder patterns
  lighthouse-plugin-publisher-ads/utils/bidder-patterns.js
Labels: config

#93 Refactor serial bids audit to cover a missing case
  lighthouse-plugin-publisher-ads/audits/serial-header-bidding.js
  lighthouse-plugin-publisher-ads/test/audits/serial-header-bidding_test.js
  lighthouse-plugin-publisher-ads/typings/audits.d.ts
  lighthouse-plugin-publisher-ads/utils/resource-classification.js
Labels: audit

#101 Refactor for i18n
  lighthouse-plugin-publisher-ads/audits/ad-blocking-tasks.js
  lighthouse-plugin-publisher-ads/audits/ad-render-blocking-resources.js
  lighthouse-plugin-publisher-ads/audits/ad-request-critical-path.js
  lighthouse-plugin-publisher-ads/audits/ad-request-from-page-start.js
  lighthouse-plugin-publisher-ads/audits/ad-request-from-tag-load.js
  lighthouse-plugin-publisher-ads/audits/ad-top-of-viewport.js
  lighthouse-plugin-publisher-ads/audits/ads-in-viewport.js
  lighthouse-plugin-publisher-ads/audits/async-ad-tags.js
  lighthouse-plugin-publisher-ads/audits/duplicate-tags.js
  lighthouse-plugin-publisher-ads/audits/first-ad-paint.js
  lighthouse-plugin-publisher-ads/audits/full-width-slots.js
  lighthouse-plugin-publisher-ads/audits/idle-network-times.js
  lighthouse-plugin-publisher-ads/audits/loads-gpt-from-sgdn.js
  lighthouse-plugin-publisher-ads/audits/loads-gpt-over-https.js
  lighthouse-plugin-publisher-ads/audits/script-injected-tags.js
  lighthouse-plugin-publisher-ads/audits/serial-header-bidding.js
  lighthouse-plugin-publisher-ads/audits/static-ad-tags.js
  lighthouse-plugin-publisher-ads/audits/tag-load-time.js
  lighthouse-plugin-publisher-ads/audits/viewport-ad-density.js
  lighthouse-plugin-publisher-ads/messages/collect-strings.js
  lighthouse-plugin-publisher-ads/messages/common-strings.js
  lighthouse-plugin-publisher-ads/messages/en-US.json
  lighthouse-plugin-publisher-ads/messages/format.js
  lighthouse-plugin-publisher-ads/messages/locales/en-XL.json
  lighthouse-plugin-publisher-ads/messages/messages.js
  lighthouse-plugin-publisher-ads/package.json
  lighthouse-plugin-publisher-ads/plugin.js
  lighthouse-plugin-publisher-ads/typings/lighthouse.d.ts
  lighthouse-plugin-publisher-ads/utils/builder.js
  lighthouse-plugin-publisher-ads/yarn.lock
  package.json
  yarn-error.log
  yarn.lock
Labels: i18n

#99 Audit to load bids and GPT in parallel
  lighthouse-plugin-publisher-ads/audits/ad-request-critical-path.js
  lighthouse-plugin-publisher-ads/audits/gpt-bids-parallel.js
  lighthouse-plugin-publisher-ads/audits/serial-header-bidding.js
  lighthouse-plugin-publisher-ads/computed/ad-lantern-metric.js
  lighthouse-plugin-publisher-ads/plugin.js
  lighthouse-plugin-publisher-ads/utils/bidder-patterns.js
  lighthouse-plugin-publisher-ads/utils/graph.js
  lighthouse-plugin-publisher-ads/utils/resource-classification.js
Labels: audit, config, new-audit

#103 Handle undefined resource type when comparing requests
  lighthouse-plugin-publisher-ads/audits/ad-request-critical-path.js
Labels: report

#106 Audit to identify event handlers in ad request critical path
  lighthouse-plugin-publisher-ads/audits/blocking-load-events.js
  lighthouse-plugin-publisher-ads/plugin.js
  lighthouse-plugin-publisher-ads/utils/graph.js
Labels: audit, new-audit
